<template>
  <section>
    <h1>Ivan Tancara Casilla</h1>
    <p>{{ contador }}</p>
    <button @click="incrementar">Incrementar</button>
  </section>
</template>

<script>
export default {
  data () {
    return {
      contador: 0
    }
  },
  mounted () {
    console.log('MOUNTED DE COMPONENTE IVAN')
  },
  methods: {
    incrementar () {
      this.contador += 1
    }
  }
}
</script>
