<template>
  <section>
    <i-nombre></i-nombre>
    <i-nombre></i-nombre>
    <i-nombre></i-nombre>

    <Saludo v-for="(item, index) of saludos" :key="index"></Saludo>
    <Despedida></Despedida>
    <button @click="cambiarVisible" >{{ visible ? 'Ocultar nombre' : 'Mostrar nombre' }}</button>
  </section>
</template>

<script>
import Saludo from './components/Saludo'
import Despedida from './components/Despedida'
import Ivan from './components/Ivan'
export default {
  components: {
    Saludo,
    Despedida,
    INombre: Ivan
  },
  data () {
    return {
      visible: false,
      saludos: []
    }
  },
  methods: {
    cambiarVisible () {
      this.visible = !this.visible
    }
  }
}
</script>
